body {
    background-color: #f5f5dc;
    text-align: justify;
}
div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer h2 {
    font-weight: 500;
    font-size: 2em;
    margin:0px;
}
div.avatar {
    margin: 10px;
    height: auto;
}
div.avatar img {
    width: 100%;
    height: auto;
    display: block;
}
.contentContainer {
    margin-top: 1em;
    width: 60%;
    line-height: 1.5;
    font-size: 16px;
    font-family: system-ui;
    padding: 10px;
}
.itemContainer {
    padding-left: 1em;
}
.contentContainer img {
    width: 100%;
    display: block;
}
button{
    margin-top:1em;
    padding: 1em;
    background: blue;
    color: white;
    width: fit-content;
    border:none;
    border-radius: 0.5em;
}
button:hover{
    background: rgba(0, 0, 175,255);
}
div.comment {
    display: flex;
    align-items: top;
    width: 100%;
    text-align: justify;
    gap: 0.25em;
    margin-bottom: 1em;
}
div.commentText {
    padding-left:2em;
}
@media (max-width: 1000px) {
    div.writterInfoBox {
        width: 75%;
    }
    .contentContainer {
        width: 75%;
    }
    h3 {
        width: 75%;
    }
    h1 {
        width: 75%;
    }
    object.comments {
        width: 75%;
    }
}

@media (max-width: 800px) {
    div.writterInfoBox {
        width: 100%;
    }
    .contentContainer {
        width: 100%;
    }
    h3 {
        width: 100%;
    }
    h1 {
        width: 100%;
    }
    object.comments {
        width: 100%;
    }
}

@media (max-width: 650px) {
    div.avatar {
        display: none;
    }
    div.writterInfoBox {
        border: 0px none black;
    }
    div.writterInfoBoxBody{
        display: none;
    }
    div.writterInfoBoxHeader{
        font-size:.75em;
        margin-top:-2em;
        margin-bottom:-2em;
    }
    div.commentText {
        padding-left:0;
    }
}